.list {
    margin: 0;
    padding: 0;
}
.list__item {
    list-style-type: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 8px;
}
.list__item:last-child {
    margin-right: 0;
}
.list__item.is-active {
    background: rgba(0, 0, 0, .15);
}
.list--inline .list__item {
    display: inline-block;
}