<nav class="mdl-list pf-admin-menu">
    <a class="mdl-list__item pf-admin-menu__item" routerLink="/admin/"
       routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Statistic</a>
    <a class="mdl-list__item pf-admin-menu__item" routerLink="/admin/languages"
       routerLinkActive="is-active">Languages</a>
    <a class="mdl-list__item pf-admin-menu__item" routerLink="/admin/works"
       routerLinkActive="is-active">Works</a>
    <a class="mdl-list__item pf-admin-menu__item" routerLink="/admin/technologies"
       routerLinkActive="is-active">Technologies</a>
</nav>