<div class="mdl-card pf-about-table-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Personal information</h2>
    </div>
    <div class="mdl-card__supporting-text pf-about-table-card-content">
        <table class="mdl-data-table mdl-js-data-table pf-about-table">
            <tbody>
            <tr class="pf-border-top-inactive">
                <td class="mdl-data-table__cell--non-numeric">Name:</td>
                <td class="mdl-data-table__cell--non-numeric">Nikita Nikitin</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Age:</td>
                <td class="mdl-data-table__cell--non-numeric">{{age}} Years</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Phone:</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="tel:+996555900375">+996 (555) 900-375</a>
                </td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Email:</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="mailto:nikita.omen666@gmail.com">nikita.omen666@gmail.com</a>
                </td>
            </tr>
            <tr class="pf-border-bottom-inactive">
                <td class="mdl-data-table__cell--non-numeric">Address:</td>
                <td class="mdl-data-table__cell--non-numeric">Kyrgyz Republic, Bishkek</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
