<div class="mdl-grid portfolio-max-width">
    <app-portfolio-filter
            [portfolioCount]="portfolioItemCount"
            (onTechnologySelect)="handleTechnologyFilter($event)"
            class="mdl-cell mdl-cell--12-col"></app-portfolio-filter>
    <app-portfolio-card *ngFor="let portfolio of portfolioItems | portfolioFilter: technologiesFilterBy"
                        class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card"
                        [portfolio]="portfolio"></app-portfolio-card>

    <div *ngIf="portfolioItemCount === 0 && technologiesFilterBy.length === 0"
         class="mdl-cell mdl-cell--12-col">
        <p>Loading portfolio...</p>
    </div>

    <div *ngIf="portfolioItemCount === 0 && technologiesFilterBy.length !== 0"
         class="mdl-cell mdl-cell--12-col">
        <p>No works found on this criteria. Please choose another filter.</p>
    </div>
</div>
