<div class="mdl-grid portfolio-max-width">
    <app-portfolio-filter
            (onTechnologySelect)="handleTechnologyFilter($event)"
            class="mdl-cell mdl-cell--12-col"></app-portfolio-filter>
    <app-portfolio-card
            *ngFor="let portfolio of portfolioItems | portfolioFilter: technologiesFilterBy"
            class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card"
            [portfolio]="portfolio"></app-portfolio-card>
    <div *ngIf="portfolioItems.length === 0">Loading portfolio...</div>
</div>
