<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
            <div class="portfolio-logo"></div>
        </div>
        <app-navigation class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only"></app-navigation>
    </header>
    <app-navigation class="mdl-layout__drawer mdl-layout--small-screen-only"></app-navigation>
    <main class="mdl-layout__content">

        <router-outlet></router-outlet>
        <app-footer class="mdl-mini-footer"></app-footer>
    </main>
</div>
