<div class="mdl-card__media">
    <img class="article-image" [attr.src]="portfolio.thumbnail ? portfolio.thumbnail : portfolio.logo" [attr.title]="portfolio.title">
</div>
<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{portfolio.title}}</h2>
</div>
<div class="mdl-card__supporting-text">
    {{portfolio.short_description}}
</div>
<div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       [routerLink]="'/works/' + portfolio.slug">Read more</a>
</div>
