.thumb {
    background: #424242;
    height: 70px;
    text-align: center;
    padding: 8px;
}
.thumb__image {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    display: inline-block;
}