<section class="pf-section pf-welcome mdl-typography--text-center"
         [style.height]="sectionHeight"
         (window:resize)="onWindowResize()">
    <div class="pf-container">
        <h1 class="pf-welcome__title mdl-typography--display-3">
            Hello! I'm <span class="pf-welcome__title-name">Nikita.</span>
            <span class="pf-welcome__title-note">Friends call me Nick, so you can.</span>
        </h1>
        <h2 class="pf-welcome__sub-title">
            Web developer from Kyrgyz Republic, Bishkek
        </h2>
        <div class="pf-hire-block">
            If you need qualified specialist, you can
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                contact Me
            </button>
            right now. It's free.
        </div>
    </div>
</section>