<div *ngIf="initialized" class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col pf-slider">
        <app-slider-card *ngFor="let slide of slides | sliderPipe: slideStart : slideFinish"
                         [instance]="slide"
                         [binding]="binding"
                         class="pf-slider__card"></app-slider-card>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <app-slider-controls (slide)="changeSlide($event)"
                             [slidesNames]="slidesNames"
                             [activeSlides]="activeSlides"></app-slider-controls>
    </div>
</div>
<div *ngIf="!initialized">Loading...</div>