<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a class="mdl-navigation__link" [routerLink]="''" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="mdl-navigation__link" [routerLink]="'works'" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: false}">Portfolio</a>
    <a class="mdl-navigation__link" [routerLink]="'about'" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}">About</a>
    <!--<a class="mdl-navigation__link" routerLink="" routerLinkActive="is-active">About</a>-->
    <!--<a class="mdl-navigation__link" routerLink="" routerLinkActive="is-active">Contact</a>-->
</nav>