<a class="mdl-navigation__link" routerLink="#about" routerLinkActive="is-active">About Me</a>
<a class="mdl-navigation__link" routerLink="#skills" routerLinkActive="is-active">Skills</a>
<a class="mdl-navigation__link" routerLink="#technologies" routerLinkActive="is-active">Technologies</a>
<a class="mdl-navigation__link" routerLink="#portfolio" routerLinkActive="is-active">Portfolio</a>
<a class="mdl-navigation__link" routerLink="#testimonals" routerLinkActive="is-active">Testimonials</a>
<a class="mdl-navigation__link" routerLink="#contact" routerLinkActive="is-active">Contact</a>
<a *ngIf="isAuthenticated" class="mdl-navigation__link" routerLink="/admin" routerLinkActive="is-active">Admin</a>
<a *ngIf="isAuthenticated" class="mdl-navigation__link" routerLink="/authorization/logout" routerLinkActive="is-active">Logout</a>
<a *ngIf="!isAuthenticated" class="mdl-navigation__link" routerLink="/authorization/signup" routerLinkActive="is-active">Sign Up</a>
<a *ngIf="!isAuthenticated" class="mdl-navigation__link" routerLink="/authorization/login" routerLinkActive="is-active">Login</a>
