<a class="mdl-navigation__link" routerLink="#about" routerLinkActive="is-active">About Me</a>
<a class="mdl-navigation__link" routerLink="#resume" routerLinkActive="is-active">Resume</a>
<a class="mdl-navigation__link" routerLink="#portfolio" routerLinkActive="is-active">Portfolio</a>
<a class="mdl-navigation__link" routerLink="#testimonals" routerLinkActive="is-active">Testimonials</a>
<a class="mdl-navigation__link" routerLink="#contact" routerLinkActive="is-active">Contact</a>
<a class="mdl-navigation__link" routerLink="/admin" routerLinkActive="is-active">Admin</a>
