<div class="pf-container">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <app-admin-table
                    [formModel]="technologyFormModel"
                    [items]="technologies"
                    (onEdit)="editTechnology($event)"
                    (onRemove)="removeTechnology($event)"
                    (onRefresh)="reloadTechnologies()"></app-admin-table>
            <div [ngClass]="{'pf-form-box': true, 'mdl-typography--text-right': !addItem}">
                <button *ngIf="!addItem"
                        type="button"
                        class="mdl-button mdl-js-button mdl-button--with-ripple"
                        (click)="triggerForm()">Add item</button>
                <form *ngIf="addItem"
                      class="pf-form"
                      [formGroup]="form"
                      (submit)="formSubmit($event)">
                    <h3 class="mdl-typography--header">
                        {{form.value.id ? 'Edit item' : 'Add item'}}
                    </h3>
                    <input type="hidden" formControlName="id" [attr.value]="form.value?.id ? form.value?.id : 0">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="name" formControlName="name">
                        <label class="mdl-textfield__label" for="name">Name</label>
                        <span class="mdl-textfield__error"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <select class="mdl-textfield__input" id="work_type_id" formControlName="work_type_id">
                            <option value="0" selected [attr.disabled]="form.value?.work_type_id ? true : null">None</option>
                            <option *ngFor="let wt of workTypes"
                                    value="{{wt.id}}">{{wt.name}}</option>
                        </select>
                        <label class="mdl-textfield__label" for="work_type_id">Work type</label>
                    </div>
                    <button [attr.disabled]="form.valid ? null : 'disabled'"
                            type="submit"
                            class="mdl-button mdl-js-button mdl-button--with-ripple mdl-button--raised mdl-button--accent">Submit</button>
                    <button (click)="closeForm()"
                            type="button"
                            class="mdl-button mdl-js-button mdl-button--with-ripple">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>